<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CKEditor 5 – Document editor</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/decoupled-document/ckeditor.js"></script>
     <style>
        /*Textbox*/
        .ck-editor__editable {
            min-height: 800px;
            max-height: 800px;
            min-width: 860px;
        }
        /*Toolbar*/
        .ck-editor__top {
            min-width: 860px;
        }
    </style>
</head>
<body>
    <h1>Document editor</h1>

    <!-- The toolbar will be rendered in this container. -->
    <div id="toolbar-container"></div>
    <!-- This container will become the editable. -->
    {% if result %}
    <div id="editor">
        {{result}}
    </div>
    {% endif %}

    <script>
        DecoupledEditor
            .create( document.querySelector( '#editor' ) )
            .then( editor => {
                const toolbarContainer = document.querySelector( '#toolbar-container' );
                toolbarContainer.appendChild( editor.ui.view.toolbar.element );
            } )
            .catch( error => {
                console.error( error );
            } );
    </script>
</body>
</html>