<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>
<body>
    <!-- Create the toolbar container -->
        <div id="toolbar">
          <button class="ql-bold">Bold</button>
          <button class="ql-italic">Italic</button>
        </div>

        <!-- Create the editor container -->
        <div id="editor">
        </div>
        <!-- Include the Quill library -->
        <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
        <!-- Initialize Quill editor -->
        <script>
          var editor = new Quill('#editor', {
            modules: { toolbar: '#toolbar' },
            theme: 'snow'
          });
        </script>
</body>
</html>